# ================================
# NGCF Config File
# ================================

# ------------------------------------------------
# Data settings
# ------------------------------------------------
data:
  fname: "Beauty"              # RAW_DATA_DIR/<fname>.jsonl.gz
  source: "amazon"
  test_size: 0.2
  seed: 42

# ------------------------------------------------
# Model settings
# ------------------------------------------------
model:
  embed_dim: 64
  n_layer: 2
  dropout: 0.1
  l2_reg: 0.0001
  negative_slope: 0.2

# ------------------------------------------------
# Training settings
# ------------------------------------------------
train:
  batch_size: 1024
  epoch_num: 400
  num_batches_per_epoch: 200
  lr: 0.001
  eval_interval: 5
  patience: 10

# ------------------------------------------------
# Evaluation settings
# ------------------------------------------------
eval:
  k: 10                # NDCG@k / Hit@k
  num_neg: 100
  user_sample_size: 10000

# ------------------------------------------------
# Path settings
# ------------------------------------------------
path:
  best_model_path: "best_ngcf_model.pth"
